# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfstate.d/
**/*.tfvars
**/.terragrunt-cache/

# Ansible
**/inventory/*/hosts.ini
**/inventory/hosts.ini
**/*.retry

# Laravel
app/vendor/
app/node_modules/
app/.env
app/storage/logs/*.log
app/bootstrap/cache/*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Secrets
**/secrets/
**/*.pem
**/*.key